<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./style.css">
  <title>O Matador de Monstros</title>
</head>
<body>
  <main id="app">
    <h1>O Matador de Monstros</h1>
    <section id="players">
      <div class="player-box">
        <h2>Jogador</h2>
        <div class="hp-status">
          <div :class="playerHP > 20 ? 'relax' : 'danger'" :style="{ width: playerHP + '%' }"></div>
        </div>
        <p>{{ playerHP }}%</p>
      </div>
      <div class="player-box">
        <h2>Monstro</h2>
        <div class="hp-status">
          <div :class="monsterHP > 20 ? 'relax' : 'danger'" :style="{ width: monsterHP + '%' }"></div>
        </div>
        <p>{{ monsterHP }}%</p>
      </div>
    </section>

    <div class="game-over">
      <h2 v-if="winner === 'player'">VOCÊ VENCEU! :)</h2>
      <h2 v-if="winner === 'monster'">VOCÊ PERDEU! :(</h2>
      <h2 v-if="winner === 'nothing'">HOUVE UM EMPATE!</h2>
    </div>
    

    <section id="game-actions">
      <template v-if="playing">
        <button @click="attack()">ATAQUE</button>
        <button @click="specialAttack()">ATAQUE ESPECIAL</button>
        <button @click="heal()">CURAR</button>
        <button @click="newGame()">DESISTIR</button>
      </template>

      <button v-else @click="newGame(true)" class="start-button">
        INICIAR JOGO
      </button>
    </section>

    <section id="game-log">
      <h3>GAME LOG</h3>
      <div v-if="gameLog.length === 0" class="info-log">
        Nenhum log no momento... Por favor faça alguma ação!
      </div>

      <template v-for="(log, index) in gameLog">
        <div
          :key="index"
          :class="index % 2 === 0 ? 'player-log' : 'monster-log'"
        >
          {{ log }}
        </div>
      </template>
    </section>
  </main>

  <script src="./app.js"></script>
</body>
</html>